.upper{
    width:90px;
    height:100px;
    border: 2px solid black;
   padding-left: 20px ;
   padding-top: 10px;
}

.inside{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.word{
    text-decoration: none;
}
.whole{
    width: 600px;
    height: 250px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.upper:hover{
    transform: scale(1.1);
}