h1{
    color: red;
    text-align: center;
    font-size: 80px;
    margin: 10px;
}
h1:hover{
    color: blue;
}
div{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    transition-property:all ;
    transition-duration: 5s;
    transition-timing-function: ease ;
    transition-delay: 0s;
}
div:hover{
    border-radius: 50%;
    background-color: blue;
}