.background{
    width: 100%;
    height: 700px;
    

}
.background{
    background-image: url(./batman\ wallpaper\ for\ laptop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
